<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <!--<meta property="og:title" content="네이버 모바일 메인"/>-->
    <meta property="og:url" content="http://sonnim.kr/"/>
    <meta property="og:image" content="/img/icon@180x180.png"/>
    <!--<meta property="og:description" content="네이버 모바일 메인에서 다양한 정보와 유용한 컨텐츠를 만나 보세요"/>-->
    <!--<meta name="twitter:card" content="summary"/>-->
    <!--<meta name="twitter:title" content="네이버 모바일 메인"/>-->
    <meta name="twitter:url" content="http://sonnim.kr/"/>
    <meta name="twitter:image" content="/img/icon@180x180.png"/>
    <!--<meta name="twitter:description" content="네이버 모바일 메인에서 다양한 정보와 유용한 컨텐츠를 만나 보세요"/>-->
    <meta name="apple-mobile-web-app-title" content="SONNIM"/>
    <link rel="apple-touch-icon-precomposed" href="/img/icon@120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/img/icon@180x180.png"/>

    <title>SONNIM</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png"/>
    <link rel="manifest" href="/favicon/manifest.json"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png"/>

    <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script type="text/javascript" src="/javascripts/react.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/tether.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="//apis.daum.net/maps/maps3.js?apikey=359b75dc96a63d2e7fc86ef5e73bb98c&libraries=drawing"></script>
</head>
<body>
    <div id="app"></div>
    <script src="/javascripts/built/bundle.js"></script>
</body>
</html>