@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* global */
body {
    background: #F4F4F4;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

.container {
    padding-top: 80px;
}
#dimmer {
    display: none;
    background: #000000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    opacity:0.35;
    z-index: 2000;
}
#dimmer.active {
    display: block;
}
.navbar {
    border-bottom: 1px solid #f0f0f0;
    background: #ffffff;
}
#nav-icon {
    background: url(/images/navlogo.png) no-repeat center;
    -webkit-background-size:42px;
    background-size:42px;
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: -21px;
    left: 50%;
}
#nav-menu {
    border: none;
    background-image: url('/images/ic_menu.png');
    background-size: 50px;
    background-position: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    padding: 11px 0;
    position: absolute;
    right: 0;
}
#nav-menu:hover {
    cursor: pointer;
}
#sidemenu-close {
    background: url('/images/ic_close.png') no-repeat center;
    -webkit-background-size:18px;
    background-size:18px;
    position: absolute;
    right:16px;
    top:16px;
    width: 18px;
    height: 18px;
}
#sidemenu-close:hover {
    cursor: pointer;
}
#sidemenu {
    position: fixed;
    top: 0;
    right: 0;
    background: #ffffff;
    height: 100%;
    width: 240px;
    border-left: 1px solid #f0f0f0;
    background-color: white;
    z-index: 2001;
    margin:0;
}
#sidemenu-head {
    background: #00e7fc; /* Old browsers */
    background: -moz-linear-gradient(left,  #00e7fc 0%, #1999ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #00e7fc 0%,#1999ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #00e7fc 0%,#1999ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e7fc', endColorstr='#1999ff',GradientType=1 ); /* IE6-9 */
    height: 50px;
}

.sidemenu-item {
    line-height: 30px;
    font-size: 16px;
    border-bottom: 1px solid #f0f0f0;
    box-sizing: content-box;
}
.sidemenu-item > a {
    display: block;
    padding: 8px 24px;
    text-decoration: none;
    color: #606060;
}
.sidemenu-item > a:hover {
    background: #f4f4f4;
}
/* post */
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

div.sn-post-box {
    float: left;
    display: block;
    margin-left: 20px;
    width: 855px;
}

div.sn-post-list {
    width: 100%;
}

li.sn-post {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 2px;
}

div.label_list {
    float: none;
    height: 20px;
}

li.sn-post div.sn-post-image {
    float: left;
    height: 100%;
    width: 240px;
}

li.sn-post div.sn-post-image img {
    height: 100%;
    width: 100%;
}

li.sn-post div.sn-post-content {
    float: left;
    padding: 0px 10px;
}

li.sn-post a.sn-post-name {
    display: inline;
    color: #4e4e4e;
    font-weight: bold;
    font-size: 1.25em;

}

li.sn-post .sn-post-address {
    color: #4e4e4e;
    padding: 5px 0px;
    vertical-align: baseline;
    display: block;
    font-size: 1em;
}

li.sn-post div.sn-post-map img {
    height: 80px;
    width: 120px;
}

li.label {
    float: left;
}

/* filter */

div.sn-filter-box {
    float: left;
    border-radius: 2px;
    width: 265px;
    background-color: #FFFFFF;
}

div.sn-filter-box .sn-filter-header {
    padding: 8px;
    margin-bottom: 0px;
    margin: 5px 0px;
}

div.sn-filter-box .sn-filter-item {
    border-style: solid none none none;
    border-width: 1px;
    border-color: #EEE;
}

div.sn-filter-box .sn-filter-conditions {
    margin: 5px;
}

button.sn-filter-accordion {
    background-color: #EEE;
    color: #444;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    outline: none;
    font-size: 13px;
    transition: 0.4s;
}

button.sn-filter-accordion.active {
    background-color: #EEE;

}

button.sn-filter-accordion:hover {
    background-color: #DDD;
}

button.sn-filter-accordion:after {
    content: '\2212';
    font-size: 13px;
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.sn-filter-accordion.active:after {
    content: '\002B';


}

div.sn-filter-content {
    background-color: white;
    display: block;
    padding-bottom: 10px;
}

/* condition */
div.sn-condition-item label {
    display: block;
}

div.sn-condition-item {
    background: white;
    width: 100%;
    padding: 5px 5px;
    height: 29px;
}

div.sn-condition-item:hover {
    background: #EEE;
}

div.sn-condition-item input.sn-condition-checkbox {
    float: left;
}

div.sn-condition-item span.sn-condition-title {
    margin-left: 7px;
}

div.sn-condition-item span.sn-condition-count {
    float: right;
}

div.detail-modal-container{
  position: relative;
  z-index: 20000;
}

div.detail-modal-background{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height :100%;
    background-color: rgb(0,0,0);
    opacity: 0.35;
    z-index: 0;
}

div.detail-modal-content{
    position:fixed;
    left: 50%;
    top: 50%;
    width: 480px;
    height: 360px;
    margin-left: -240px;
    margin-top: -180px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

div.dimmer show{
  position: fixed;
  left : 0;
  top: 0;
  width: 100%;
  height :100%;
  background-color: rgb(0,0,0);
  opacity: 0.35;
  z-index: 0;
}
