li.post {
    border: 1px solid;
    width: 100%;
    height: 200px;
    margin-bottom: 8px;
    background-color: #EEEEEE;
}

div.post__image {
    width: 100px;
    height: 100px;
}
/*.thumbnail .caption:after {*/
    /*content: "";*/
    /*display: block;*/
    /*clear: both;*/
/*}*/